# The apikey for the different weather providers, at least one must be specified
# Note: Hamweather requires two apikeys: client_id=apikey, client_secret=apikey2
#apikey.ForecastIo=
#apikey.OpenWeatherMap=
#apikey.WorldWeatherOnline=
#apikey.Hamweather=
#apikey2.Hamweather=
#apikey.Meteoblue=
#
apikey.Wunderground=231b1bfbaa1c5a28
apikey.OpenWeatherMap=9674f76c9c10ae1e9464f6f6971022fc
#
#
# No API key when using Yahoo
location.Thuis.name=home
location.Thuis.latitude=51.949605
location.Thuis.longitude=5.216682
location.Thuis.provider=Yahoo
location.Thuis.woeid=728237
location.Thuis.language=en
location.Thuis.updateInterval=10
#
#
#location.owmcborg.name=Culemborg
#location.owmcborg.latitude=51.949605
#location.owmcborg.longitude=5.216682
#location.owmcborg.provider=OpenWeatherMap
#location.owmcborg.language=en
#location.owmcborg.updateInterval=10
#
#
#location.home.name=home
#location.home.latitude=51.949605
#location.home.longitude=5.216682
#location.home.provider=Wunderground
#location.home.language=en
#location.home.updateInterval=10
#
#

